<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GPSService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>

  <system.diagnostics>
    <sources>
      <source name="GPSService" switchName="SourceSwitchVerbose" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener" initializeData="false"/>
          <add name="eventlog" type="System.Diagnostics.EventLogTraceListener" initializeData="GPSS01"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="GPSSClient" switchName="SourceSwitchVerbose" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener" initializeData="false"/>
          <add name="eventlog" type="System.Diagnostics.EventLogTraceListener" initializeData="GPSCMClient"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <!-- You can set the level at which tracing is to occur -->
      <add name="SourceSwitchDefault" value="Off"/>
      <add name="SourceSwitchWarning" value="Warning"/>
      <add name="SourceSwitchVerbose" value="Verbose"/>
      <!-- You can turn tracing off -->
      <!--add name="SourceSwitch" value="Off" -->
    </switches>
    <sharedListeners>

    </sharedListeners>
    <trace autoflush="true" indentsize="4">

    </trace>
  </system.diagnostics>
  <applicationSettings>
    <GPSService.Properties.Settings>
      <setting name="DBName" serializeAs="String">
        <value>gps</value>
      </setting>
      <setting name="DBUsername" serializeAs="String">
        <value>rogon</value>
      </setting>
      <setting name="DBServer" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="GPSDevice" serializeAs="String">
        <value>GPS/GNSS</value>
      </setting>
      <setting name="DBPassword" serializeAs="String">
        <value>8+OGNamziK4Jb5R40QYQ4Q==</value>
      </setting>
    </GPSService.Properties.Settings>
  </applicationSettings>
</configuration>
